#about-hero {
    background-image: url("/images/about/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
}

.title {
    z-index: 9;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 500 !important;
}

.title h2 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 500 !important;

}

#about-subtitle {
    text-align: left;
    font-size: 25px !important;
    margin-top: 30px;
}

p.lead-about {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #4f4f4f;
    margin-bottom: 3.6rem;
    font-weight: 400;
    text-align: left;
}

#lead-about {
    font-weight: 900;
    color: #4f4f4f !important;
}


@media only screen and (max-width:600px) {
    .title h1 {
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    .title h2 {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 500;

    }
}