/* ===================================================================
 *  01. webfonts and iconfonts - (_document-setup)
 *
 * ------------------------------------------------------------------- */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");


/* ===================================================================
 *  02. base style overrides - (_document-setup)
 *
 * ------------------------------------------------------------------- */
html {
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #111111;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #353535;
  margin: 0;
  padding: 0;
}


/* ===================================================================
 *  03. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h06 {
  font-family: 'Raleway', sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}

h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.8rem;
}

h5,
.h05,
h6,
.h06 {
  margin-bottom: 1.2rem;
}

h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {

  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -.07rem;
  }
}

h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}

h4,
.h04 {
  font-size: 1.7rem;
  line-height: 1.76;
}

h5,
.h05 {
  font-size: 3rem;
  color: #ffffff;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

h6,
.h06 {
  font-size: 1.3rem;
  line-height: 1.85;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

p img {
  margin: 0;
}

p.lead {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  color: #4f4f4f;
  margin-bottom: 3.6rem;
}



@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 1.8rem;
  }
}

em,
i,
strong,
b {
  font-size: 2rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: normal;
}

em,
i {
  font-family: "librebaskerville-italic", serif;
}

strong,
b {
  font-family: 'Open Sans', sans-serif;
}

small {
  font-size: 1.1rem;
  line-height: inherit;
}

blockquote {
  margin: 3rem 0;
  padding-left: 5rem;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 10rem;
  line-height: 0px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  font-family: arial, sans-serif;
  position: absolute;
  top: 3.6rem;
  left: 0;
}

blockquote p {
  font-family: "librebaskerville-italic", georgia, serif;
  font-style: italic;
  padding: 0;
  font-size: 1.9rem;
  line-height: 1.895;
}

blockquote cite {
  display: block;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.615;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #4f4f4f;
  border: none;
}

abbr {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .05rem;
  color: #4f4f4f;
}

var,
kbd,
samp,
code,
pre {
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
  padding: 2.4rem 3rem 3rem;
  background: #F1F1F1;
}

code {
  font-size: 1.4rem;
  margin: 0 .2rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
}

pre>code {
  display: block;
  white-space: pre;
  line-height: 2;
  padding: 0;
  margin: 0;
}

pre.prettyprint>code {
  border: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

mark {
  background: #FFF49B;
  color: #000;
}

hr {
  border: solid #d2d2d2;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}

/* ------------------------------------------------------------------- 
 * Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 .8rem;
  position: relative;
}

ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #07617d;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #07617d;
}

dd {
  margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * Spacing - (_document-setup)  
 * ------------------------------------------------------------------- */
button,
.button {
  margin-bottom: 1.2rem;
}

fieldset {
  margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.ss-custom-select {
  margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * floated image - (_document-setup)  
 * ------------------------------------------------------------------- */
img.pull-right {
  margin: 1.5rem 0 0 3rem;
}

img.pull-left {
  margin: 1.5rem 3rem 0 0;
}

/* ------------------------------------------------------------------- 
 * block grids paddings
 * ------------------------------------------------------------------- */
.bgrid {
  padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}

/* ------------------------------------------------------------------- 
 * tables - (_document-setup.scss)  
 * ------------------------------------------------------------------- */
table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

th,
td {
  padding: 1.5rem 3rem;
  text-align: left;
  border-bottom: 1px solid #E8E8E8;
}

th {
  color: #151515;
  font-family: 'Raleway', sans-serif;
}

td {
  line-height: 1.5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * pace.js styles - minimal  - (_document-setup.scss)
 * ------------------------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #3EC1D5;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}


/* ===================================================================
 *  04. Preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F1215;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  background-color: #3EC1D5;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


/* ===================================================================
 *  05. forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 6rem;
  padding: 1.5rem 2rem;
  border: 0;
  outline: none;
  vertical-align: middle;
  color: #444444;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ss-custom-select {
  position: relative;
  padding: 0;
}

.ss-custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  line-height: 3rem;
  vertical-align: middle;
}

.ss-custom-select select option {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
  display: none;
}

.ss-custom-select::after {
  content: '\f0d7';
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -10px;
  bottom: auto;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  color: #252525;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
  display: none;
}

textarea {
  min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000000;
}

label,
legend {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  margin-bottom: .6rem;
  color: #020202;
  display: block;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: 'Raleway', sans-serif;
  line-height: inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
  margin: 0;
  position: relative;
  top: .15rem;
}

/* ------------------------------------------------------------------- 
 * Style Placeholder Text - (_forms.scss)
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
  color: #8e8e8e;
}

:-moz-placeholder {
  color: #8e8e8e;
  /* Firefox 18- */
}

::-moz-placeholder {
  color: #8e8e8e;
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  color: #8e8e8e;
}

.placeholder {
  color: #8e8e8e !important;
}

/* ------------------------------------------------------------------- 
 * Change Autocomplete styles in Chrome - (_forms.scss)
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fabc5a;
  transition: background-color 5000s ease-in-out 0s;
}


/* ===================================================================
 *  06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  background: #A5A5A5;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: #989898;
  color: #000000;
  outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background: #151515;
  color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #030303;
}

button.full-width,
.button.full-width {
  width: 100%;
  margin-right: 0;
}

button.medium,
.button.medium {
  height: 5.7rem !important;
  line-height: 5.7rem !important;
  padding: 0 1.8rem !important;
}

button.large,
.button.large {
  height: 6rem !important;
  line-height: 6rem !important;
  padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
  background: transparent !important;
  border: 3px solid #313131;
  line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
  line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
  line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
  border: 3px solid #3EC1D5;
  color: #3EC1D5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* ===================================================================
 *  08. common and reusable styles 
 *
 * ------------------------------------------------------------------- */
.section-intro {
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.section-intro h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.8rem;
  line-height: 1.375;
  color: #151515;
}

.section-intro h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  line-height: 1.667;
  color: rgba(242, 242, 242, 0.5);
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 1.2rem;
}


.section-intro .lead {
  font-family: 'Raleway', sans-serif, sans-serif;
  font-size: 1.8;
  line-height: 1.833;
}

.section-intro.with-bottom-sep {
  padding-bottom: 4.2rem;
  position: relative;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * section-intro
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .section-intro h1 {
    font-size: 4.4rem;
  }

  .section-intro .lead {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-intro h1 {
    font-size: 4rem;
  }

  .section-intro h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 3.4rem;
  }

  .section-intro h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .section-intro h3 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 3.1rem;
  }
}

.wide {
  max-width: 1300px;
}

.narrow {
  max-width: 800px;
}

.js .animate-this,
.js .animate-intro {
  opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro .no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
  opacity: 1;
}


/* ===================================================================
 *  09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 700;
}

header .row {
  height: auto;
  max-width: 1300px;
  position: relative;
}

/* ------------------------------------------------------------------- 
 * header logo - (_layout.css) 
 * ------------------------------------------------------------------- */
header .header-logo {
  position: absolute;
  left: 32px;
  top: 42px;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .header-logo a img {
  width: 150px;
  height: auto;
  color: transparent;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * menu trigger - (_layout.css) 
 * ------------------------------------------------------------------- */
#header-menu-trigger {
  display: block;
  position: fixed;
  right: 32px;
  top: 40px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: 'Raleway', sans-serif, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgb(255, 255, 255);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-menu-trigger.opaque {
  background-color: #000000;
}

#header-menu-trigger.opaque .header-menu-text {
  background-color: #000000;
}

#header-menu-trigger:hover,
#header-menu-trigger:focus {
  color: #FFFFFF;
}

#header-menu-trigger .header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -75px;
  width: 75px;
  text-align: center;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-menu-trigger .header-menu-icon {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 9px;
  margin-top: -1.5px;
}

#header-menu-trigger .header-menu-icon::before,
#header-menu-trigger .header-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}

#header-menu-trigger .header-menu-icon::before {
  top: -9px;
}

#header-menu-trigger .header-menu-icon::after {
  bottom: -9px;
}

/* ------------------------------------------------------------------- 
 * off-canvas menu - (_layout.scss) 
 * ------------------------------------------------------------------- */
#menu-nav-wrap {
  background: #0C0C0C;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 3.6rem 3rem;
  height: 100%;
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  overflow-y: auto;
  z-index: 800;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#menu-nav-wrap a,
#menu-nav-wrap a:visited {
  color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap a:hover,
#menu-nav-wrap a:focus,
#menu-nav-wrap a:active {
  color: white;
}

#menu-nav-wrap h3 {
  color: white;
  font-family: 'Raleway', sans-serif, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#menu-nav-wrap .nav-list {
  font-family: 'Raleway', sans-serif, sans-serif;
  margin: 3.6rem 0 1.5rem 0;
  padding: 0 0 1.8rem 0;
  list-style: none;
  line-height: 3.6rem;
}

#menu-nav-wrap .nav-list li {
  padding-left: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.03);
  line-height: 4.2rem;
}

#menu-nav-wrap .nav-list li:first-child {
  border-top: 1px dotted rgba(255, 255, 255, 0.03);
}

#menu-nav-wrap .nav-list li a {
  color: rgb(255, 255, 255);
  display: block;
}

#menu-nav-wrap .nav-list li a:hover,
#menu-nav-wrap .nav-list li a:focus {
  color: #3EC1D5;
}

#menu-nav-wrap .header-social-list {
  list-style: none;
  margin: 0;
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#menu-nav-wrap .header-social-list li {
  display: inline-block;
  font-size: 2rem;
}

#menu-nav-wrap .header-social-list li a {
  color: rgb(255, 255, 255);
}

#menu-nav-wrap .header-social-list li a:hover,
#menu-nav-wrap .header-social-list li a:focus {
  color: #3EC1D5;
}

#menu-nav-wrap .header-social-list li:last-child {
  margin: 0;
}

#menu-nav-wrap .close-button {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 36px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

#menu-nav-wrap .close-button span::before,
#menu-nav-wrap .close-button span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}

#menu-nav-wrap .close-button span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-nav-wrap .close-button span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-nav-wrap .sponsor-text {
  font-family: "librebaskerville-regular", serif;
  font-size: 1.4rem;
  line-height: 3rem;
}

#menu-nav-wrap .sponsor-text span {
  color: rgba(255, 255, 255, 0.5);
}

/* menu is open */
.menu-is-open #menu-nav-wrap {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header section 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  header .header-logo a {
    width: 51px;
    height: 24px;
    background-size: 51px 24px;
  }
}

@media only screen and (max-width: 400px) {
  #header-menu-trigger .header-menu-text {
    display: none;
  }
}


/* ===================================================================
 *  10. home - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
main {
  position: relative;
  overflow: hidden;
}

main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #19191b;
}

.home-content-table {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.home-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  z-index: 500;
}

.home-content-tablecell .row {
  position: relative;
  padding-top: 16.2rem;
  padding-bottom: 15rem;
}

.home-content-tablecell h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin: 0 0 .9rem 0;
}

.home-content-tablecell h1 {
  font-family: "montserrat-bold", serif;
  font-size: 9rem;
  line-height: 1.133;
  color: #FFFFFF;
}

.home-content-tablecell .more {
  margin: 4.8rem 0 0 0;
}

.home-content-tablecell .more .button {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

/* home social-list */
.home-social-list {
  position: absolute;
  left: 30px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
  z-index: 9;
}

.home-social-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.home-social-list li {
  padding-left: 0;
}

.home-social-list li a,
.home-social-list li a:visited {
  color: #FFFFFF;
}

.home-social-list li a:hover,
.home-social-list li a:focus,
.home-social-list li a:active {
  color: #3EC1D5;
}

/* scroll down */
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
  z-index: 9;
}

.scrolldown i {
  padding-left: 9px;
}

html[data-useragent*='MSIE 10.0'] .scrolldown,
.oldie .scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #FFFFFF !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

a.scroll-icon.smoothscroll.effect {
  display: flex;
  color: #ffffff !important;
}


/* vertical animation */
@-webkit-keyframes animate-it {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}

@keyframes animate-it {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}

/* ------------------------------------------------------------------- 
 * responsive:
 * home section 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  .home-content-tablecell h3 {
    font-size: 2.1rem;
  }

  .home-content-tablecell h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1024px) {
  .home-content-tablecell h3 {
    font-size: 2rem;
  }

  .home-content-tablecell h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-content-tablecell .row {
    max-width: 600px;
  }

  .home-content-tablecell h3 {
    font-size: 1.8rem;
  }

  .home-content-tablecell h1 {
    font-size: 5.2rem;
  }

  .home-content-tablecell h1 br {
    display: none;
  }

  .home-social-list {
    left: 36px;
    bottom: 30px;
    font-size: 2.1rem;
  }

  .home-social-list::before {
    height: 30px;
  }

  .scrolldown .scroll-icon {
    font-size: 1.2rem;
    top: 24px;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #home {
    min-height: 702px;
  }

  .home-content-tablecell .row {
    max-width: 480px;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.7rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .home-content-tablecell .row {
    max-width: 420px;
  }

  .home-content-tablecell h3 {
    font-size: 1.6rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.2rem;
  }

  .home-social-list {
    left: 30px;
    bottom: 30px;
    font-size: 1.8rem;
  }

  .home-social-list::before {
    height: 24px;
  }
}

@media only screen and (max-width: 400px) {
  #home {
    min-height: 654px;
  }

  .home-content-tablecell .row {
    padding-top: 4.8rem;
    padding-bottom: 10.8rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.4rem;
  }

  .home-content-tablecell h1 {
    font-size: 3.6rem;
  }
}


/* ===================================================================
 *  11. about - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#about {
  position: relative;
  padding: 4.2rem 0 12rem;
  background-color: #FFFFFF;
  min-height: 696px;
  text-align: center;
}

#about .about-wrap {
  max-width: 900px;
}


#about h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  line-height: 1.667;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: relative;
}

#about h4 {
  color: #444444;
  font-size: 1.6rem;
}

#about h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 9.6rem;
  background-color: rgba(149, 149, 149, 0.7);
  margin: 0 auto 2.4rem;
}

#about .lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
  color: #444444;
  margin-top: 4rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * about 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  #about {
    min-height: 636px;
  }

  #about .about-wrap {
    max-width: 800px;
  }

  #about h3 {
    font-size: 3rem;
  }

  #about .lead {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  #about .about-wrap {
    max-width: 720px;
  }

  #about .lead {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  #about h3 {
    font-size: 3rem;
  }

  #about h4 {
    font-size: 2rem;
  }

  #about .about-wrap {
    max-width: 600px;
  }

  #about .lead {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {

  #about {
    min-height: auto;
  }

  #about .about-wrap {
    max-width: 500px;
  }

  #about h3 {
    font-size: 1.7rem;
  }

  #about h3::before {
    height: 5rem;
  }


  #about h4 {
    font-size: 1.6rem;
  }

  #about .lead {
    margin-top: 4.8rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  #about h3 {
    font-size: 1.7rem;
  }

  #about .lead {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  #about {
    padding: 4.2rem 0 9.6rem;
  }

  #about .about-wrap {
    max-width: 380px;
  }

  #about .lead {
    font-size: 1.6rem;
  }
}


/* ===================================================================
 *  12. services - Bots (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#services {
  background-color: #19191b;
  background-image: url(../images/inventek/backGround_INVENTEK_1920*1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 800px;
  position: relative;
  padding: 4.2rem 10rem 4.2rem;
  min-height: 696px;
}

#services .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.9);
}

#services .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#00000000', GradientType=0);
}

#services h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: relative;
}

#services h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 9.6rem;
  background-color: rgba(255, 255, 255, 0.993);
  margin: 0 auto 2.4rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * services
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  #services .services-list .service-item {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 900px) {
  #services .services-list .service-item {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  #services {
    padding: 5rem 0;
  }

  #services .services-content {
    max-width: 550px;
  }

  #services .services-list .service-item {
    padding: 0 15px;
  }

  #services .services-list .icon i {
    font-size: 5.1rem;
  }
}

@media only screen and (max-width: 600px) {
  #services .services-list .service-item {
    padding: 0 10px;
  }

  #services .services-list .icon i {
    font-size: 5rem;
  }

  #services h3 {
    font-size: 1.7rem;
  }

  #services h3::before {
    height: 5rem;
  }

}

@media only screen and (max-width: 400px) {
  #services .services-list .service-item {
    padding: 0;
  }
}

/* ===================================================================
 *  13. newsletter - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#newsletter {
  background: #FFFFFF;
  padding: 12rem 0 7.8rem;
  text-align: center;
}

h3.newsletter-title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  line-height: 1.667;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: relative;
}

#newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter-form input {
  margin: 0;
  width: 30%;
}

#newsletter-form button {
  margin: 0;
  padding: 0 50px;
  height: 60px;
  background-color: rgb(62, 193, 213);
}




/* ------------------------------------------------------------------- 
 * responsive:
 * testimonials
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  #newsletter-form input {
    width: 50%;
  }

  p.newsletter-p {
    margin: 20px 80px;
  }

  .subscribe-form {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  #newsletter h3 {
    font-size: 1.7rem;
  }

  p.newsletter-p {
    margin: 20px 15px;
  }

  #newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #newsletter-form input {
    margin: 0;
    width: 90%;
  }

  #newsletter-form button {
    margin: 0;
    padding: 0 50px;
    height: 60px;
    background-color: rgb(62, 193, 213);
    width: 90%;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 600px) {
  #newsletter .flex-container {
    width: 90%;
  }

}


@media only screen and (max-width: 400px) {
  #newsletter .flex-container {
    width: 100%;
  }
}


/* ===================================================================
 *  14. Blog - (_layout.scss)
 *
 * ------------------------------------------------------------------- */

#blog {
  background: #000000;
  padding: 4rem 0 12rem;
  text-align: center;
}

#blog h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: relative;
}

#blog p {
  font-size: 15px;
  color: #ffffff;
}

#blog h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 9.6rem;
  background-color: rgba(255, 255, 255, 0.993);
  margin: 0 auto 2.4rem;
}

@media only screen and (max-width:768px) {
  #blog h3 {
    font-size: 1.7rem;
  }

  #blog h3::before {
    height: 5rem;
  }
}

/* ===================================================================
 *  15. Memories - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#memories {
  background-color: #e9eaea;
  padding: 4.8rem 0 4.8rem;
  font-family: 'Raleway', sans-serif;
}

.memories-title,
.memories-title em {
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width:768px) {

  .memories-title,
  .memories-title em {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
  }
}


/* ===================================================================
 *  16. contact - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#contact {
  background-color: #111111;
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 12rem 0 12rem;
  position: relative;
}

#contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: #000000;
}

#contact .section-intro h1 {
  color: white;
  font-style: normal !important;
  font-family: Raleway, sans-serif;
  ;
}


.contact-content {
  max-width: 1024px;
  margin-top: 3rem;
  color: #FFFFFF;
  z-index: 600;
  position: relative;
}

.contact-content h5 {
  color: #FFFFFF;
  margin-bottom: 5.4rem;
}

.contact-content h6 {
  color: #555555;
  font-size: 1.4rem;
}

/* contact info */
.contact-info .cinfo {
  margin-bottom: 4.2rem;
}

/* contact form */
#contact form {
  margin-top: 0;
  margin-bottom: 3rem;
}

#contact form .form-field {
  position: relative;
}

#contact form .form-field:before,
#contact form .form-field:after {
  content: "";
  display: table;
}

#contact form .form-field:after {
  clear: both;
}

#contact form .form-field label {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  text-transform: uppercase;
  letter-spacing: .05rem;
  padding: .6rem 2rem .6rem 2rem;
  margin: 0;
  color: #000000;
  background: #3EC1D5;
  border-radius: 3px;
}

#contact form .form-field label::after {
  position: absolute;
  right: 15px;
  top: 1px;
  margin-top: -6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3EC1D5;
  content: "";
}

#contact form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#contact form :-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  /* Firefox 18- */
}

#contact form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  /* Firefox 19+ */
}

#contact form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#contact form .placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3.6rem;
  background: rgba(255, 255, 255, 0.1);
}

#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
  color: #FFFFFF;
}

#contact textarea {
  min-height: 21rem;
  padding: 1.8rem 2rem;
}

#contact textarea:focus {
  color: #FFFFFF;
}

#contact button.submitform {
  font-size: 1.6rem;
  display: block;
  letter-spacing: .2rem;
  height: 6rem;
  line-height: 6rem;
  padding: 0 3rem;
  width: 100%;
  background: #3EC1D5;
  color: #000000;
  margin-top: .6rem;
}

div.btn-aboutUs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

div.btn-aboutUs a {
  z-index: 9;
  margin-bottom: 30px;
}

button.aboutUs {
  font-size: 1.6rem;
  display: block;
  letter-spacing: .2rem;
  height: 6rem;
  line-height: 6rem;
  padding: 0 3rem;
  width: 100%;
  background: #3EC1D5;
  color: #000000;
  margin-top: .6rem;
}

#contact button.submitform:hover,
#contact button.submitform:focus {
  background: #3EC1D5;
}

#message-warning,
#message-success {
  display: none;
  background: #000000;
  padding: 3rem;
  margin-bottom: 3.6rem;
  width: 100%;
}

#message-warning {
  color: #D32B2E;
}

#message-success {
  color: #3EC1D5;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}

/* form loader */
#submit-loader {
  display: none;
  position: relative;
  left: 0;
  top: 1.8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 4.2rem;
}

#submit-loader .text-loader {
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.oldie #submit-loader .s-loader {
  display: none;
}

.oldie #submit-loader .text-loader {
  display: block;
}

a,
a:visited {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* --------------------------------------------------------------- 
 * loader animation - (_layout.scss)
 * --------------------------------------------------------------- */
.s-loader {
  margin: 1.2rem auto 3rem;
  width: 70px;
  text-align: center;
  -webkit-transform: translateX(0.45rem);
  -ms-transform: translateX(0.45rem);
  transform: translateX(0.45rem);
}

.s-loader>div {
  width: 9px;
  height: 9px;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: inline-block;
  margin-right: .9rem;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.s-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.s-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* ------------------------------------------------------------------- 
 * responsive:
 * contact
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .contact-info {
    width: 38%;
  }
}

@media only screen and (max-width: 768px) {

  #contact {
    padding: 6rem 0;
  }

  .contact-content {
    max-width: 600px;
    text-align: center;
  }

  .contact-info {
    width: 100%;
    margin-top: 3.6rem;
  }

  .row.narrow.section-intro.with-bottom-sep.animate-this.fadeInUp.animated {
    padding: 0;
  }

  .contact-content h5 {
    font-size: 2rem;
    margin-bottom: 5.4rem;
  }

  #contact button.submitform {
    font-size: 1.5rem;
  }

  .contact-info .cinfo p {
    line-height: 2.5rem !important;
  }

}

@media only screen and (max-width: 600px) {
  .contact-content {
    max-width: 480px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-info {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  button.aboutUs {
    font-size: 1.2rem;
  }
}


/* ===================================================================
 *  17. footer - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
footer {
  margin: 0 0 5.4rem 0;
  padding: 0;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.4);
}

footer a,
footer a:visited {
  color: #FFFFFF;
}

footer a:hover,
footer a:focus {
  color: #3EC1D5;
}

footer .row {
  max-width: 1024px;
}

h4.footer-h04 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 0;
}


/* footer main
 * --------------------------------- */
.footer-main {
  padding-top: 9.6rem;
  padding-bottom: 3rem;
}

.footer-main ul {
  font-size: 1.6rem;
  margin-left: 0;
}

.footer-main ul li {
  list-style: none;
  padding-left: 0;
}

.footer-main ul a,
.footer-main ul a:visited {
  color: rgba(255, 255, 255, 0.4);
}

.footer-main ul a:hover,
.footer-main ul a:focus {
  color: #FFFFFF;
}

.footer-main .subscribe-form {
  position: relative;
}

.footer-main #mc-form {
  margin: 0;
  padding: 0;
}

.footer-main #mc-form input[type="email"] {
  height: 6rem;
  padding: 1.5rem 8rem 1.5rem 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer-main #mc-form button {
  background-color: #3EC1D5;
  color: #000000;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.footer-main #mc-form button:hover {
  background-color: #3EC1D5;
}

.footer-main #mc-form button i {
  font-size: 2.6rem;
  line-height: 6rem;
  margin: 0;
  position: relative;
  left: .2rem;
}

.footer-main #mc-form label {
  color: #3EC1D5;
  font-family: 'Raleway', sans-serif, sans-serif;
}

/* footer bottom
 * --------------------------------- */
.footer-bottom {
  text-align: center;
  font-family: 'Raleway', sans-serif, sans-serif;
  font-size: 1.4rem;
  height: 50px;
}

.footer-bottom .copyright span {
  display: inline-block;
}

.footer-bottom .copyright span a {
  color: #ffffff !important;
}

.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
  display: none;
}

#go-top {
  position: fixed;
  bottom: 42px;
  right: 30px;
  z-index: 700;
  display: none;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 63px;
  width: 60px;
  line-height: 63px;
  text-align: center;
  background-color: #000000;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  position: relative;
}

#go-top a i {
  font-size: 1.7rem;
  line-height: inherit;
  z-index: 9;
  position: relative;
}

i.fa.fa-long-arrow-up {
  z-index: 9;
}

#go-top a:visited {
  background: #000000;
  color: #888;
}

#go-top a:hover,
#go-top a:focus {
  background: #000000;
  color: #FFFFFF;
}

/* home social-list */
.footer-social-list {
  display: flex;
  gap: 30px;
  left: 30px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.75;
  text-align: center;
  z-index: 1;
}


.footer-social-list li i {
  padding-left: 0;
  font-size: 3rem !important;
  margin: 10px 0;
}


.footer-social-list li a,
.footer-social-list li a:visited {
  color: #FFFFFF;
}

.footer-social-list li a:hover,
.footer-social-list li a:focus,
.footer-social-list li a:active {
  color: #3EC1D5;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  .footer-main .row {
    max-width: 100% !important;
    display: flex;
  }

  .footer-blog h3.h05 {
    line-height: 4rem;
  }

  #archive-blog .container .row {
    padding: 0;
  }

  #blog {
    padding: 8rem 0 0;
  }

  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto 130px;
  }

}

@media only screen and (max-width: 768px) {
  #go-top {
    bottom: 0;
    right: 0;
  }

  .footer-main {
    text-align: center;
  }

  .footer-main .row {
    max-width: 480px;
  }

  .footer-main [class*="col-"] {
    margin-bottom: 3.6rem;
  }

  footer h4.footer-h4 {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-bottom: 0 !important;
  }

  footer h4.footer-h4::after {
    left: 50%;
    margin-left: -50px;
    margin-bottom: 0 !important;
  }

  h3.h05 {
    font-size: 1.7rem;
  }

  h4.footer-h04 {
    font-size: 2rem;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 600px) {
  .footer-bottom {
    padding-bottom: .6rem;
  }

  .footer-bottom .copyright span {
    display: block;
  }

  .footer-bottom .copyright span::after {
    display: none;
  }

  /* Card Blog */
  .blog-slider__wrp.swiper-wrapper {
    padding-bottom: 20px;
  }

  #blog {
    padding: 4rem 0 0;
  }

  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto 130px !important;
  }

  /* Portafolio */

  svg.icon.icon-tabler {
    margin-top: -1rem;
  }


}