main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.7s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    top: 80%;
    left: 60%;
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }

  &:nth-child(4) {
    top: 80%;
    left: calc(60% + 220px);
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }

  &:nth-child(5) {
    top: 80%;
    left: calc(60% + 440px);
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }

  &:nth-child(6) {
    left: calc(60% + 660px);
    opacity: 0;
  }
}

.content {
  width: min(45vw, 600px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4rem;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 2rem;
  }

  & .btn-button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    width: 75%;

    & .title {
      font-size: 3rem;
    }

    & .description {
      font-size: 2rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 70%;
    }

    &:nth-child(4) {
      left: calc(70% + 170px);
    }

    &:nth-child(5) {
      left: calc(70% + 340px);
    }

    &:nth-child(6) {
      left: calc(70% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    width: 85%;

    & .title {
      font-size: 1.7rem;
    }

    & .description {
      font-size: 1.5rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 70%;
    }

    &:nth-child(4) {
      left: calc(70% + 140px);
    }

    &:nth-child(5) {
      left: calc(70% + 280px);
    }

    &:nth-child(6) {
      left: calc(70% + 420px);
      opacity: 0;
    }
  }
}

/* effectMouse */

#effectMouse {
  position: fixed;
  top: -20px;
  left: -20px;
  background-color: #444444;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.5;
  transform: translateX(0) translateY(0) scale(0);
  transition: transform 0.2s;
  z-index: 1111111;
  pointer-events: none;

}